.col__group__item {
   position: relative;
   border-right: transparent;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   padding: 6px 20px;
   border: 0.5px solid #ccc;
   border-right: transparent;
   // width: 200px;
   // &:hover {
   //    .group__item--drawbar {
   //       display: block;
   //    }
   // }
   // .group__item--drawbar {
   //    display: none;
   //    cursor: move;
   //    z-index: 1;
   //    position: absolute;
   //    right: -2px;
   //    width: 4px;
   //    padding: 0 2px;
   //    height: 100%;
   //    background-color: var(--background-btn-default);
   //    &:hover {
   //       z-index: 0;
   //       background-color: var(--background-primary-color);
   //    }
   // }
   // .group__item--drawbar ~ div {
   //    width: 1px;
   //    div {
   //       background-color: transparent;
   //    }
   // }
   &:first-child {
      border-top-left-radius: 6px;
      > input {
         cursor: pointer;
         width: 16px;
         height: 16px;
      }
      &::before {
         display: none;
      }
   }

   &:nth-child(2) {
      // width: 325px;

      width: 30%;
   }

   &:last-child {
      flex: 1;
      cursor: pointer;
      justify-content: flex-start;
      .plus__lable {
         .input--icon {
            cursor: pointer;
            border-radius: 3px;
            &:hover {
               background-color: var(--background-btn-default);
            }
            > svg {
               font-size: 1.6rem;
            }
            padding: 0 4px;
            border: none;
            transform: rotate(0deg);
            transition: transform 0.2s ease-in-out;
         }
      }

      .col__group--check {
         opacity: 0;
         &:checked ~ .plus__lable {
            .input--icon {
               transform: rotate(45deg);
            }
         }
      }
   }
}
