.table__head {
   display: flex;
   align-items: center;
   position: absolute;
   top: 128px;
   left: 20px;
   z-index: 1;
   background-color: #fff;
   .filter {
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;
      padding: 5px;
      border-radius: 4px;
      position: relative;
      &__icon {
         width: 20px;
         height: max-content;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      span {
         font-size: 1.4rem;
         font-weight: 400;
      }
      &__down {
         margin-left: 5px;
         width: 30px;
         height: 100%;
         font-size: 1.5rem;
      }
      &__menu {
         position: absolute;
         top: 100%;
         left: 0;
         width: max-content;
         min-height: 200px;
         background-color: white;
         border: 1px solid #e3e3e3;
         border-radius: 4px;
         padding: 20px;
         &-header {
            display: flex;
            justify-content: space-between;
         }
         &-content {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .filter__menu-column{
               display: flex;
               flex-direction: column;
               gap: 10px;
               width: 700px;
               min-height: 300px;
               overflow-x: scroll;
               .filter__menu-column-wrapper{
                  display: flex;
                  gap: 25px;
                  .menu__column-wrapper-heading{
                     font-size: 1.4rem;
                     color: #676879;
                     font-weight: 500;
                  }
                  .menu__column-list{
                     display: flex;
                     flex-direction: column;
                     flex-wrap: nowrap;
                     gap: 7px;
                     align-items: center;
                     margin-top: 10px;
                     height: 250px;
                     .menu__column-item{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px 10px;
                        background-color: #f5f6f8;
                        width: 150px;
                        border-radius: 4px;
                        &-color{
                           width: 13px;
                           height: 13px;
                           border-radius: 50%;
                        }
                        &:hover{
                           background-color: #eceff8;
                           transition: .2s;
                        }
                        span{
                           font-size: 1.3rem;
                           display: block;
                           width: 70px;
                           font-weight: 400;
                           display: -webkit-box;
                           -webkit-box-orient: vertical;
                           overflow: hidden;
                           -webkit-line-clamp: 1;
                        }
                     }
                  }
               }
               
            }
         }
      }
   }
}
