.wrapper {
   width: 100%;
   display: flex;
   gap: 15px;
   padding-top: 60px;
   height: 100vh;
   padding-bottom: 30px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: #eceff8;
   .content {
      // height: 670px;
      width: 100vh;
      flex: 1;
      background-color: white;
      border-radius: 12px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
}
