.wrapperBtn {
   display: flex;
   align-items: center;
   border-radius: 4px;
   font-size: 1.4rem;
   font-weight: 400;
   cursor: pointer;
   background-color: transparent;
   border: 1px solid transparent;
   -webkit-user-select: none;
   user-select: none;
   min-width: 140px;
   font-family: 'Roboto Mono';
   white-space: nowrap;
   > span {
      margin-left: 4px;
   }
   + .wrapperBtn,
   + .tippy {
      margin-left: 8px;
   }
   &.disabled {
      cursor: no-drop;
      pointer-events: none;
      opacity: 0.5;
   }
   &.nonbehavior {
      cursor: no-drop;
      pointer-events: none;
   }
   &:hover {
      background-color: var(--background-btn-default);
      color: var(--text-btn-color);
   }
}

.icon + .title,
.title + .icon {
   margin: 0 4px;
}

.icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   font-size: 1.4rem;
}

// Button types

.primary {
   color: #fff;
   background-color: var(--background-primary-color);
   &:hover {
      background-color: #0555aa;
      color: #fff;
   }
}

.warning {
   color: var(--white);
   background-color: var(--warning);
}

.active {
   background-color: var(--white);
}
.boder {
   border: 0.5px solid #ccc;
}
.transparent {
   background-color: transparent;
}

.hideHover {
   &:hover {
      background-color: #ffffff;
   }
}
// Button sizes

.medium {
   min-width: 20px;
   padding: 8px 4px;
}
.small {
   min-width: 88px;
   padding: 4px 16px;
}

.large {
   padding: 10px 6px;
   max-width: 100%;
   .icon + .title {
      font-size: 2rem;
   }
}
