.board__wrapper {
   // overflow: hidden;
   margin-left: 14px;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   border-top-left-radius: 24px;
   .icon__table {
      margin: 0 10px 0 0px;
   }
   &-title {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 50px;
      .wrapper__title-heading {
         > input {
            font-size: 3rem;
            font-weight: 600;
         }
         display: flex;
         align-items: center;
         gap: 10px;
         min-height: 50px;
         h2 {
            font-size: 3rem;
         }
         .boar__wrap-title-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            cursor: pointer;
            img {
               width: 20px;
               height: 20px;
            }
            &:hover {
               background-color: #dcdfec;
               transition: all 0.2s;
            }
         }
      }
   }
}
