.board__wrapper {
   padding: 20px 0 20px 40px;
   overflow: hidden;
   margin-left: 14px;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   border-top-left-radius: 24px;
   .icon__table {
      margin: 0 10px 0 0px;
   }
}
