.item__in__card {
   width: 100%;
   display: flex;
   align-items: center;
   .item__card--btn {
      width: 150px;
      display: flex;
      flex-shrink: 0;
      gap: 5px;
      .item__card__btn--icon {
         width: 20px;
         height: 20px;
      }
      > .icon{
         display: block;
         width: max-content;
         flex-shrink: 0;
      }
      > span{
         display: block;
         width: 120px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         text-align: left;
      }
   }
   .item__value {
      position: relative;
      height: 40px;
      flex: 1;
      text-align: center;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      .value__task--btn {
         align-items: center;
         padding: 0 8px;
         cursor: pointer;
      }  
      .table__data-task-value {
         width: 300px;
         font-family: 'Poppins', sans-serif;
        > span{
         display: block;
         width: 250px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         padding: 0 2px;
         margin: 0 auto;
        }
        .default__value--task--wrapper{
         overflow: hidden;
         .default__value--task{
            width: 100%;
            p{
               width: 80%;
               white-space: nowrap;
               text-overflow: ellipsis;
               overflow: hidden;
            }
         }
        }
         &:hover {
            .default__value--task {
               display: flex;
               border-color: #ccc;
               
               .value__task--btn,
               .icon__value--task {
                  display: flex;
               }
            }
         }
      }
      .table__data-task-value.data-status {
        width: 100px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         font-family: 'Poppins', sans-serif;
      }
   }
   .status__item{
      overflow: hidden;
      .status__item-title{
         display: -webkit-box;
         -webkit-line-clamp: 1;
         -webkit-box-orient: vertical;
      }
   }
   
}
