.column__group {
   position: relative;
   // border-right: transparent;
   // align-items: center;
   // text-align: center;
   // justify-content: center;
   .col__item--input {
      padding: 4px;
      width: 80%;
      &:focus {
         border: 0.5px;
      }
   }
   .btn__option--col {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 4px;
      display: none;
      background-color: var(--background-btn-default);
      border: none;
      outline: none;
      padding: 4px;
   }
   &:hover {
      background-color: #f2f2f2;
      .btn__option--col {
         display: block;
         cursor: pointer;
      }
   }
}
