.list__types--custom {
   position: absolute;
   top: 100%;
   right: 10px;
   background-color: #fff;
   box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   padding: 10px;
   z-index: 11;
   .list__types {
      min-width: 300px;
      display: flex;
      flex-wrap: wrap;
      .type__item {
         width: calc(calc(100% / 2) - 10px );
         > button {
            width: 100%;
            justify-content: flex-start;
            > span {
               margin-left: 10px;
            }
         }
      }
   }
}
