.item__board {
   display: flex;
   cursor: pointer;
   justify-content: space-between;
   align-items: center;
   border-radius: 3px;
   
   margin-bottom: 10px;
   padding: 6px 10px 6px 6px;
   font-size: 1.3rem;
   font-weight: 500;
   &:hover{
      background-color: var(--background-btn-default);
      transition: all .3s;
   }
   .board__info {
      width: 90%;
      display: flex;
      align-items: center;
      gap: 5px;
      .board__title {
         width: 100%;
         display: block;
         // background-color: red;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         
      }
      .board__title--input {
         border-color: #0073ea;
         border-style: solid;
         border-width: 1px;
         color: #323338;
         display: inline-block;
         font-size: 14px;
         line-height: 21px;
         padding: 2px;
         text-align: left;
         margin-left: 6px;
         outline: none;
      }
   }

   .board__btn--dot {
      font-size: 1.8rem;
      border: none;
      background-color: transparent;
      display: none;
      transform: translateY(-4px);
      cursor: pointer;
   }
   &:hover {
      .board__btn--dot {
         display: block;
      }
   }
}

.item__board.board__info--active {
   background-color: #cce5ff;
}

.icon-board {
   width: 10px;
   height: 10px;
}
