.item__board {
   display: flex;
   cursor: pointer;
   justify-content: space-between;
   align-items: center;
   border-radius: 3px;
   background-color: #cce5ff;
   padding: 6px 10px 6px 6px;
   font-size: 1.3rem;
   font-weight: 500;
   .board__info {
      display: flex;
      align-items: center;
      .board__title {
         margin-left: 6px;
         min-height: 20px;
      }
      .board__title--input {
         border-color: #0073ea;
         border-style: solid;
         border-width: 1px;
         color: #323338;
         display: inline-block;
         font-size: 14px;
         line-height: 21px;
         padding: 2px;
         text-align: left;
         margin-left: 6px;
         outline: none;
      }
   }

   .board__btn--dot {
      font-size: 1.8rem;
      border: none;
      background-color: transparent;
      display: none;
      transform: translateY(-4px);
      cursor: pointer;
   }
   &:hover {
      .board__btn--dot {
         display: block;
      }
   }
}
