.sidebar__wrapper {
   width: 240px;
   padding: 15px;
   background-color: white;
   border-radius: 12px;
   z-index: 1;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   .sidebar__header {
      min-width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e3e3e3;
      gap: 5px;
      &-heading {
         color: #797a89;
         font-size: 1.3rem;
      }
      
      &-item {
         width: 100%;
         height: 35px;
         display: flex;
         align-items: center;
         gap: 5px;
         cursor: pointer;
         padding: 0 5px;
         border-radius: 4px;
         color: #333;
         img {
            width: 15px;
            height: 15px;
         }
         span {
            font-size: 1.4rem;
         }
         &:hover {
            background-color: #dcdfec;
            transition: all 0.2s;
         }
      }
      .active {
         background-color: #cce5ff;
      }
   }
   .sidebar__menu-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: max-content;
      // background-color: red;
      .sidebar__menu-container {
         width: 85%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 8px;
         border-radius: 4px;
         padding: 4px;
         cursor: pointer;
         position: relative;
         &--icon {
            width: 30px;
            height: 30px;
            background-color: green;
            font-size: 1.4rem;
            line-height: 30px;
            text-align: center;
            border-radius: 8px;
            color: white;
            flex-shrink: 0;
         }
         > .arrow-icon{
            flex-shrink: 0;
         }
         span {
            display: block;
            font-size: 1.5rem;
            font-weight: 600;
            flex: 1;
         }
         .arrow-icon {
            margin-left: auto;
            margin-right: 0;
         }
         .menu__container--input {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            outline: none;
            border-radius: 4px;
         }
         .menu__container--input.focus__input {
            border: 0.5px solid #ccc;
            padding: 4px 0;
            &:focus {
               border: 0.5px solid #0073ea;
            }
         }
         .workspace__modal-hover {
            width: 270px;
            position: absolute;
            top: 110%;
            left: 0;
            z-index: 2;
            background-color: white;
            padding: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 8px;
            border: 1px solid #e3e3e3;
            .workspace__modal-search {
               width: 100%;
               height: 30px;
               border: 1px solid #333;
               display: flex;
               border-radius: 5px;
               align-items: center;
               justify-content: space-between;
               .workspace__modal-input {
                  flex: 1;
                  text-indent: 10px;
                  border: none;
                  outline: none;
               }
               .workspace__modal-search-btn {
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
            }
            .workspace__modal-list {
               display: flex;
               flex-direction: column;
               gap: 10px;
               .workspace__modal-item {
                  display: flex;
                  align-items: center;
                  padding: 4px;
                  border-radius: 4px;
                  gap: 8px;
                  &:hover{
                     background-color: #dcdfec;
                     transition: all .2s;
                  }
                  .workspace__modal-item-avt {
                     width: 25px;
                     height: 25px;
                     line-height: 25px;
                     text-align: center;
                     background-color: green;
                     border-radius: 5px;
                     color: white;
                  }
                  .workspace__modal-item-name {
                     width: 70%;
                     font-size: 1.3rem;
                     overflow: hidden;
                     white-space: nowrap;
                     text-overflow: ellipsis;
                     color: #333;
                  }
               }
            }
            .workspace__modal-feature {
               margin-top: 20px;
               border-top: 0.5px solid #ccc;
               width: 100%;
               display: flex;
               justify-content: space-between;
               .workspace__modal-feature--item{
                  margin-top: 10px;
                  width: max-content;
                  padding: 5px 12px;
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  border-radius: 4px;
                  margin: 10px auto 0 auto;
                  &:hover{
                     background-color: #dcdfec;
                  }
                  > img{
                     width: 15px;
                     height: 15px;
                  }
                  > span{
                     font-size: 1.3rem;
                  }
               }
               
            }
         }
      }
      .active{
         background-color: #cce5ff;
      }
      .sidebar__header-menu {
         width: 30px;
         height: 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         padding-top: 10px;
         cursor: pointer;
         border-radius: 4px;
         &:hover{
            background-color: #dcdfec;
         }
      }
   }

   .sidebar__features {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      &-item {
         display: flex;
         align-items: center;
         gap: 5px;
         font-size: 1.3rem;
         font-weight: 500;
         padding: 4px;
         border-radius: 5px;
         transition: all 0.2s;
         cursor: pointer;
      }
      .add__board {
         width: 30px;
         height: 30px;
         background-color: #0073ea;
         font-size: 1.3rem;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      &-item:last-child {
         margin-bottom: 10px;
      }
      .search__input {
         border: 1px solid #e3e3e3;
         height: 30px;
         display: flex;
         align-items: center;
         width: 79%;
         .search__btn {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
               width: 20px;
               height: 20px;
            }
         }
         input {
            border: none;
            outline: none;
            background: none;
            width: 70%;
         }
         .filter__btn {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
               width: 20px;
               height: 20px;
            }
         }
      }
   }
   .sidebar__boards {
      border-top: 1px solid #e0e3ee;
      &-item {
         margin: 10px 0;
         display: flex;
         align-items: center;
         padding: 4px;
         gap: 5px;
         font-size: 1.3rem;
         font-weight: 500;
         border-radius: 5px;
         transition: all 0.2s;
         cursor: pointer;
         &:hover {
            background-color: #c5c7d0;
            transition: all 0.2s;
         }
      }
   }
}
