
.sidebar__wrapper{
    width: 255px;
    max-width: 255px;
    height: 100vh;
    padding: 10px;
    background-color: #f6f7fb;
    overflow: hidden;
    .sidebar__header{
        display: flex;
        justify-content: space-between;
        &-heading{
            color: #797a89;
            font-size: 1.3rem;
        }
    }
    .sidebar__menu-container{
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #787989;
        border-radius: 8px;
        padding: 4px;
        cursor: pointer;
        &--icon{
            width: 30px;
            height: 30px;
            background-color: green;
            font-size: 1.4rem;
            line-height: 30px;
            text-align: center;
            border-radius: 8px;
            color: white;
        }
        span{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .arrow-icon{
            margin-left: auto;
            margin-right: 0;
        }
    }
    .sidebar__features{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-item{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 4px;
            border-radius: 5px;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                background-color: #c5c7d0;
                transition: all .2s;
            }
        }
        &-item:last-child{
            margin-bottom: 10px;
        }
    }
    .sidebar__boards{
        border-top: 1px solid #e0e3ee;
        &-item{
            margin: 10px 0;
            display: flex;
            align-items: center;
            padding: 4px;
            gap: 5px;
            font-size: 1.3rem;
            font-weight: 500;
            border-radius: 5px;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                background-color: #c5c7d0;
                transition: all .2s;
            }
        }
    }
}