.main-table {
   // .board__title {
   //    font-size: 2.6rem;
   //    font-weight: 700;
   //    margin-bottom: 10px;
   //    > svg {
   //       font-size: 1.8rem;
   //    }
   // }
   .main__group__wrap {
      // width: 1000px;
      width: 74vw;
      height: 70vh;
      padding-left: 22px;
      overflow: scroll;
      margin-bottom: 40px;
      
   }
   ::-webkit-scrollbar {
      width: 6px;
      border-radius: 50%;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: white; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #a1e3f6; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #94def3; 
    }
}
