.form__register-step-2 {
   display: flex;
   height: 100vh;
   .form__container-step-2 {
      margin: auto;
      margin-top: 100px;
      min-width: 74%;
      position: relative;
      .img-logo {
         width: 200px;
         height: auto;
         margin-bottom: 60px;
      }
      .form__container-step-2-title {
         font-size: 38px;
         margin-bottom: 10px;
         font-weight: 500;
      }
      .form__container-step-2-des {
         padding: 20px 0;
      }
      .form__container-step-2-input {
         padding: 10px 20px;
         width: 70%;
      }
      .title__input {
         margin-bottom: 10px;
      }
      .btn__submit {
         position: absolute;
         top: 150%;
         right: 0;
         .form__container-step-2-btn {
            width: 100%;
            border-radius: 4px;
         }
      }
   }
}
